# Secret files!
shadow*

# Temporary files
*.swp
.*.swp
*~
.*~

# large files
bin/bin/wallpapers

# xmonad junk
xmonad/.xmonad/*.o
xmonad/.xmonad/*.hi
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/*.chi
xmonad/.xmonad/*.chs.h

# misc
gtk/.config/gtk-2.0/gtkfilechooser.ini
openbox/.config/obmenu-generator/icons.db
